.holder {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  background-color: green;
  color: black;
	
  width:100px;
  height:100px;
}

.item1 {
  background-color: red;
  color: black;
	
  width:100px;
  height:100px;
}


.item2 {
  background-color: blue;
  color: black;
	
  width:100px;
  height:100px;
}